* {
  box-sizing: border-box;
  
  font-family: "Ruik", sans-serif;
  color: #393c41;
  margin: 0;
  padding: 0;
}

body {
  background: #504C4C;
  background-image: linear-gradient(315deg, #504C4C 0%, #263a3a 100%);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}